/*....caja great......*/
.great {
    background-color: #A097B9 ;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

/*.....caja summary....*/
.summary {
    background-color: #d5dbdb;
    padding: 20px;
    margin: 20px;
}